spring:
  datasource:
    url: jdbc:h2:mem:aprdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      auto-commit: true
      transaction-isolation: TRANSACTION_READ_COMMITTED
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    sql:
      init:
        mode: always